@charset "UTF-8";

$black: #333;
$white: #fafafa;
$gray: #52636f;
$lightgray: #e0e0e1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 375px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: sans-serif;
  color: $black;
  background-color: $white;
  -ms-font-feature-settings: "normal";
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  font-size: 0;
}
img {
  max-width: 100%;
  border: none;
  vertical-align: middle;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-height: 48px;
  background-color: $white;
  border-bottom: 1px solid $lightgray;
  .header__contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 375px;
    padding: 0 24px;
    @media screen and (min-width: 768px) {
      max-width: 768px;
      margin: 0 auto;
    }
    .header__headline {
      .header__ruby {
        font-size: 16px;
        font-weight: 600;
        .header__rt {
          margin-bottom: 2px;
          font-size: 8px;
          font-weight: normal;
        }
      }
    }
    .header__nav {
      .nav__list {
        .nav__item {
          display: inline-block;
          & + .nav__item {
            margin-left: 24px;
            @media screen and (min-width: 768px) {
              margin-left: 48px;
            }
          }
          .nav__link {
            font-size: 12px;
            transition: opacity 0.2s ease-in-out;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
main {
  padding-top: 48px;
  @media screen and (min-width: 768px) {
    padding-top: 96px;
  }
}
.section {
  padding: 96px 24px 48px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    margin: 0 auto;
  }
  &:last-of-type {
    padding-bottom: 144px;
  }
  .section__headline {
    margin-bottom: 24px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    font-weight: 600;
  }
  .section__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
    }
    .section__item {
      margin-bottom: 48px;
      &:last-of-type {
        margin-bottom: 0;
      }
      @media screen and (min-width: 768px) {
        width: calc(50% - 12px);
        margin-bottom: 0;
      }
      .section__link {
        display: block;
        &:hover {
          .section__image {
            opacity: 0.7;
          }
        }
        .section__image {
          width: 100%;
          margin-bottom: 6px;
          border-radius: 2px;
          transition: opacity 0.2s ease-in-out;
          @media screen and (min-width: 768px) {
            margin-bottom: 4.2px;
          }
        }
        .section__description {
          font-size: 12px;
          color: $gray;
          @media screen and (min-width: 768px) {
            line-height: 1.7;
          }
        }
      }
    }
  }
  .section__text {
    margin-bottom: 18px;
    font-size: 12px;
    color: $gray;
    @media screen and (min-width: 768px) {
      margin-bottom: 20.4px;
      line-height: 1.7;
    }
    &:last-of-type {
      margin-bottom: 48px;
    }
    .section__link {
      transition: opacity 0.2s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .section__data {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
    }
    .section__data-block {
      margin-bottom: 48px;
      text-align: center;
      &:last-of-type {
        margin-bottom: 0;
      }
      @media screen and (min-width: 768px) {
        width: calc(50% - 12px);
        margin-bottom: 0;
      }
      .section__data-headline {
        margin-bottom: 12px;
        line-height: 1;
        font-size: 12px;
        font-weight: 600;
        @media screen and (min-width: 768px) {
          // margin-bottom: 24px;
          // font-size: 18px;
        }
      }
      .section__data-list {
        .section__data-list-item {
          display: inline-block;
          font-size: 12px;
          color: $gray;
          &:not(:last-of-type) {
            margin-right: 12px;
          }
          .section__data-list-link {
            transition: opacity 0.2s ease-in-out;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
#contact.section {
  .section__data {
    .section__data-block {
      width: 100%;
      margin-bottom: 0;
      .section__data-list {
        .section__data-list-item {
          display: inline-block;
          &:not(:last-of-type) {
            margin-right: 12px;
          }
        }
      }
    }
  }
}
.footer {
  padding: 6px 24px;
  text-align: center;
  font-size: 0;
  border-top: 1px solid $lightgray;
  .footer__copy {
    font-size: 10px;
    color: $gray;
  }
}
