* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 375px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: sans-serif;
  color: #333;
  background-color: #fafafa;
  -ms-font-feature-settings: "normal";
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  font-size: 0;
}

img {
  max-width: 100%;
  border: none;
  vertical-align: middle;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-height: 48px;
  background-color: #fafafa;
  border-bottom: 1px solid #e0e0e1;
}

.header .header__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 375px;
  padding: 0 24px;
}

@media screen and (min-width: 768px) {
  .header .header__contents {
    max-width: 768px;
    margin: 0 auto;
  }
}

.header .header__contents .header__headline .header__ruby {
  font-size: 16px;
  font-weight: 600;
}

.header .header__contents .header__headline .header__ruby .header__rt {
  margin-bottom: 2px;
  font-size: 8px;
  font-weight: normal;
}

.header .header__contents .header__nav .nav__list .nav__item {
  display: inline-block;
}

.header .header__contents .header__nav .nav__list .nav__item + .nav__item {
  margin-left: 24px;
}

@media screen and (min-width: 768px) {
  .header .header__contents .header__nav .nav__list .nav__item + .nav__item {
    margin-left: 48px;
  }
}

.header .header__contents .header__nav .nav__list .nav__item .nav__link {
  font-size: 12px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.header .header__contents .header__nav .nav__list .nav__item .nav__link:hover {
  opacity: 0.7;
}

main {
  padding-top: 48px;
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 96px;
  }
}

.section {
  padding: 96px 24px 48px;
}

@media screen and (min-width: 768px) {
  .section {
    max-width: 768px;
    margin: 0 auto;
  }
}

.section:last-of-type {
  padding-bottom: 144px;
}

.section .section__headline {
  margin-bottom: 24px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .section .section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.section .section__list .section__item {
  margin-bottom: 48px;
}

.section .section__list .section__item:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .section .section__list .section__item {
    width: calc(50% - 12px);
    margin-bottom: 0;
  }
}

.section .section__list .section__item .section__link {
  display: block;
}

.section .section__list .section__item .section__link:hover .section__image {
  opacity: 0.7;
}

.section .section__list .section__item .section__link .section__image {
  width: 100%;
  margin-bottom: 6px;
  border-radius: 2px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .section .section__list .section__item .section__link .section__image {
    margin-bottom: 4.2px;
  }
}

.section .section__list .section__item .section__link .section__description {
  font-size: 12px;
  color: #52636f;
}

@media screen and (min-width: 768px) {
  .section .section__list .section__item .section__link .section__description {
    line-height: 1.7;
  }
}

.section .section__text {
  margin-bottom: 18px;
  font-size: 12px;
  color: #52636f;
}

@media screen and (min-width: 768px) {
  .section .section__text {
    margin-bottom: 20.4px;
    line-height: 1.7;
  }
}

.section .section__text:last-of-type {
  margin-bottom: 48px;
}

.section .section__text .section__link {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.section .section__text .section__link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .section .section__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.section .section__data .section__data-block {
  margin-bottom: 48px;
  text-align: center;
}

.section .section__data .section__data-block:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .section .section__data .section__data-block {
    width: calc(50% - 12px);
    margin-bottom: 0;
  }
}

.section .section__data .section__data-block .section__data-headline {
  margin-bottom: 12px;
  line-height: 1;
  font-size: 12px;
  font-weight: 600;
}

.section .section__data .section__data-block .section__data-list .section__data-list-item {
  display: inline-block;
  font-size: 12px;
  color: #52636f;
}

.section .section__data .section__data-block .section__data-list .section__data-list-item:not(:last-of-type) {
  margin-right: 12px;
}

.section .section__data .section__data-block .section__data-list .section__data-list-item .section__data-list-link {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.section .section__data .section__data-block .section__data-list .section__data-list-item .section__data-list-link:hover {
  opacity: 0.7;
}

#contact.section .section__data .section__data-block {
  width: 100%;
  margin-bottom: 0;
}

#contact.section .section__data .section__data-block .section__data-list .section__data-list-item {
  display: inline-block;
}

#contact.section .section__data .section__data-block .section__data-list .section__data-list-item:not(:last-of-type) {
  margin-right: 12px;
}

.footer {
  padding: 6px 24px;
  text-align: center;
  font-size: 0;
  border-top: 1px solid #e0e0e1;
}

.footer .footer__copy {
  font-size: 10px;
  color: #52636f;
}
/*# sourceMappingURL=style.css.map */
